.formations div:hover, .stages div:hover, .exp_pro div:hover{
    box-sizing: border-box;
    padding: 10px;
    background-color: #eef1f2;
    border-left: 5px solid #17abb3;
    transition: 200ms;
}

.lien-photo:hover{
    cursor: zoom-in;
    scale: 1.2;
    transition: 500ms;
}

i:hover{
    opacity: 50%;
}

.permis:hover{
    pointer-events: none;
} 