@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* Font : Lato */

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-VariableFont_wght.woff");
    src: url("../fonts/Raleway-VariableFont_wght.ttf") format("truetype");
}

*{
    font-family: "Raleway", sans-serif;
}

h1, h2, h3{
    font-family: "Lato",sans-serif;
    font-weight: 400;
    color: #17abb3;
}

/* Début de mise en forme de l'entête complet */ 
.photo-profil{
    text-decoration: none;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    margin: auto;
}

.lien-photo{
    width: 140px;
    height: 140px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 50%;
    margin: auto 6.25em;
}

.titre{
    text-align: center;
    margin: auto;
}

h1{
    color: rgb(255, 255, 255);
    margin: auto;
    margin: 0.05em auto 0;
    padding-bottom: 0.09em;
    font-size: 3.5rem;
    font-weight: 700;    
}

.intitule{
    font-family: "Lato";
    color: rgb(255, 255, 255);
    margin: 0 auto 0;
    font-size: 1.5rem;
    font-weight: 600;
}

.main, .aside{
    padding: 3.13em;
}

/* Partie où je n’ai pas été vraiment à l’aise. */
address{
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: 1.25em 1.25em;
    margin-top: 1.25em;
    gap: 10px 45px;
    padding: 0.625em;
    padding-top: 0.4em;
    justify-content:center ;
    white-space: nowrap ;
}

address i{
    padding-left: 0.4em;
}
/* ----------- */ 

address a{
    font-style: normal;
    display: flex;
    flex-direction: row;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 300;
}

.permis{
    padding-left: 0.125em;
    padding-bottom: 0.125em;
}

.lien-contact i{  
    padding-top: 0.06em;
    margin-right: 0.625em;
    color: rgb(255, 255, 255);    
}
/* Fin de la mise en forme de l'entête */ 

/* Partie aside */
.competences h2{
    margin: 0 auto 0;
    padding-bottom: 0.4em;
    border-bottom: 1px solid #e3e3e3;    
    margin-bottom: 0.85em;
}

.html, .css, .javascript, .php{
    display: flex;
    justify-content: space-between;
    font-family: "Lato";
    font-size: 1rem;
    font-weight: bold;
    margin: 0 auto 0.625em;
    padding-left: 0px;
}

.competences dt{
    font-family: "Lato";
}

.competences i{
    font-size: 0.8rem;
    margin: 0;
    color: #17abb3;
}


.langues h2{
    margin: 1.45em auto 0;
    padding-bottom: 0.44em;
    border-bottom: 1px solid #e3e3e3;    
    margin-bottom: 0.8em;  
}

.langues dl{
    display: flex;
    justify-content: space-between;
    margin: 0 auto 0.625em;
    font-size: 1rem; 
}

.langues dt{
    font-family: "Lato";
    font-size: 1rem;
    font-weight: bold;
}

.langues{
    margin-bottom: 1.45em;
}

.qualites h2{
    margin: 1.48em auto 0;
    padding-bottom: 0.4em;
    border-bottom: 1px solid #e3e3e3;    
    margin-bottom: 1em;  
}

.qualites ul{
    display: flex;
    flex-direction: column;    
    list-style-type: square;
    padding: 0 0 0 0;
    margin: 0 0 0 1.5em;
    gap: 4px;
}

.qualites li{
    position: relative;
    line-height: normal; 
    text-indent: -1px;
}

.qualites li::marker{
    font-size: 1.5rem;
    line-height: 0;
    color: #17abb3;
}

.centres-interet h2{
    margin: 1.05em auto 0;
    padding-bottom: 0.44em;
    border-bottom: 1px solid #e3e3e3;    
    margin-bottom: 1em;  
}

.centres-interet ul{
    display: flex;
    flex-direction: column;
    list-style-type: square;
    padding-inline-start: 0;
    margin-left: 1.5em;
    gap: 4px;
}

.centres-interet li{
    position: relative;
    line-height: normal;
    text-indent: -1px;
}

.centres-interet li::marker{
    font-size: 1.5rem;
    line-height: 0;
    color: #17abb3;
}
/* Fin partie asigne */

/* Début partie main */ 
.profil{
    margin-bottom: 1.45em;
}

.profil h2{
    margin: 0 auto 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #e3e3e3;
}

.paragraphe-1{
    margin: 1.25em auto 0;
    text-indent: 1.5em;
    line-height: 1.2em;
    text-align: justify;
}

.paragraphe-2{
    margin: 0;
    font-size: 1rem;
    text-indent: 1.5em;
    line-height: 1.2em;
    text-align: justify; 
}

.formations h2{
    margin: 0 auto 0.85em;
    padding-bottom: 0.4em;
    border-bottom: 1px solid #e3e3e3;
}

.stages h2{
    margin: 0.2em auto 0.85em;
    padding-bottom: 0.4em;
    border-bottom: 1px solid #e3e3e3;
}

.exp_pro h2{
    margin: 0.22em auto 0.85em;
    padding-bottom: 0.4em;
    border-bottom: 1px solid #e3e3e3;
}


.formations div, .stages div, .exp_pro div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 53px;
}

.formations dd, .stages dd, .exp_pro dd{
    margin: 0;
    font-style: italic;
    font-size: 0.9rem;
    line-height: 0.9;
}

.formations dt, .stages dt, .exp_pro dt{
    font-family: "Lato";
    font-weight: bold;
    font-size: 1rem;
}

.formations p, .stages p, .exp_pro p{
    margin: 0;
    color: #17abb3;
}

.formations dl, .stages dl, .exp_pro dl{
    margin: 0;
}
/* Fin partie main */

/* Début partie footer */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

footer i{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}

footer p{
    font-size: 0.75rem;
    font-style: italic;
    color: rgb(255, 255, 255);
    margin: 0;
}

footer i{
    margin-top: 0.5em;
}

#middle{
    margin: 0 0.88em 0;
}
/* Fin partie footer */


