@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* Font : Lato */

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-VariableFont_wght.woff");
    src: url("../fonts/Raleway-VariableFont_wght.ttf") format("truetype");
}

*{
    font-family: "Raleway", sans-serif;
}

h1, h2, h3{
    font-family: "Lato",sans-serif;
    font-weight: 400;
    color: #17abb3;
}

/* Début de mise en forme de l'entête complet */ 
.photo-profil{
    width: 140px;
    height: 140px;
    border: 5px solid white;
    border-radius: 75px;
    margin: auto 100px;
}

.titre{
    text-align: center;
    margin: auto;
}

h1{
    color: white;
    margin: auto;
    margin: 2px auto 0;
    padding-bottom: 5px;
    font-size: 3.5em;
    font-weight: 700;    
}

.intitule{
    font-family: "Lato";
    color: white;
    margin: 0 auto 0;
    font-size: 1.5em;
    font-weight: 600;
}

.main, .aside{
    padding: 50px;
}

address{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 300px;
    height: 60px;
    margin: 26px auto 0; 
    gap: 0 50px;
    padding-left: 57px; 
}

address a{
    font-style: normal;
    display: flex;
    flex-direction: row;
    width: 100px;
    color: white;
    text-decoration: none;
    font-weight: 300;
}

.adresse{
    padding-left: 2px;
}

.permis{
    padding-left: 2px;
    padding-bottom: 2px;
}

i{  
    padding-top: 1px;
    margin-right: 10px;
    color: white;    
}
/* Fin de la mise en forme de l'entête */ 