
body{
    background-color: #f5f5f5;
    margin: 0;
}

.principal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
}

header{
    display: flex;
    flex-direction: row;     
    width: 100%;
    height: 240px;
    background-color: #17abb3;    
}

aside{
    width: 30%;
    min-height: 956px;
    background-color: #eef1f2;
}

main{
    width: 70%;
    min-height: 956px;
    background-color: #ffffff;
}

footer{
    width: 100%;
    height: 83px;
    background-color: #17abb3;    
}

